:root {
  --primary: #17cfcf;
  --dark: #141414;
}
nav {
  height: 70px;
  display: flex;
  z-index: 1;
  font-family: 'Roboto';
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: var(--dark);
  border-bottom: 2px solid var(--primary);
  width: 100%;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
  padding: 0;
  font-size: 1.3rem;
}
.navLink {
  color: white;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.navLink:hover {
  color: var(--primary);
}
nav form {
  display: flex;
  margin-right: 10px;
}
nav form button {
  padding: 3px 10px;
  background-color: white;
  font-size: 1.1rem;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  cursor: pointer;
}
nav input {
  border: none;
  font-size: 1.1rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: #141414;
  padding: 3px 10px;
  background-color: white;
}
.searchbtn {
  display: none;
  padding: 8px 10px;
  background-color: transparent;
  font-size: 1.3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.togglebtn {
  padding: 8px 10px;
  font-size: 1.5rem;
  display: none;
  background-color: transparent;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.active {
  background-color: var(--primary);
}
.logo {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

@media (max-width: 768px) {
  nav ul {
    position: fixed;
    display: none;
    right: 0px;
    width: 200px;
    max-width: 50%;
    top: 72px;
    background-color:  var(--dark);
    border-bottom-left-radius: 10px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  nav ul.open {
    display: flex;
  }
  .togglebtn {
    display: block;
    border: none;
    margin-right: 20px;
  }
  nav form {
    display: none;
  }
  nav form.open {
    position: fixed;
    margin: 0;
    display: flex;
    right: 0px;
    background-color: white;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 100%;
    top: 72px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  nav input {
    border: 1px solid rgb(200, 200, 200);
    border-right: none;
    padding: 5px 20px;
  }
  nav form button {
    border: 1px solid rgb(200, 200, 200);
    border-left: none;
    padding: 5px 20px;

  }
  .searchbtn {
    margin-left: auto;
    display: block;
  }
  nav li {
    list-style: none;
    text-decoration: none;
    margin: 15px 0;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
  }
}