:root {
  --primary: #17cfcf;
  --dark: #141414;
}
nav {
  height: 70px;
  display: flex;
  z-index: 1;
  font-family: 'Roboto';
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: var(--dark);
  border-bottom: 2px solid var(--primary);
  width: 100%;
  flex-wrap: nowrap;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
  margin-left: 20px;
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 10px 0 0;
  padding: 0;
}
nav li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  font-size: 1.3rem;
  margin-right: 10px;
}
.navLink {
  color: white;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
}
.active {
  background-color: var(--primary);
}
.navLink:not(.active):hover {
  color: var(--primary);
}
nav form {
  display: flex;
  margin: 0 10px;
}
nav form button {
  padding: 3px 10px;
  background-color: white;
  font-size: 1.1rem;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  cursor: pointer;
}
nav input {
  border: none;
  font-size: 1.1rem;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  color: #141414;
  padding: 3px 10px;
  background-color: white;
}
nav input:focus {
  outline: none;
}
.searchbtn, .togglebtn {
  display: none;
  background-color: transparent;
  font-size: 1.4rem;
  border: none;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    position: fixed;
    right: 0px;
    max-width: 50%;
    top: 72px;
    margin: 0;
    padding: 5px 50px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: none;
    flex-direction: column;
    text-align: center;
    color: white;
    box-shadow: -6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  nav ul.open {
    display: flex;
  }
  .togglebtn {
    display: block;
  }
  nav li {
    margin: 10px 0;
  }
  .navLink {
    color: var(--dark);
  }
  .active {
    background-color: var(--primary);
    color: white;
  }
  .navLink:not(.active):hover {
    color: var(--primary);
  }
}

@media (max-width: 600px) {
  nav form {
    display: none;
  }
  nav form.open {
    position: fixed;
    display: flex;
    left: 0px;
    background-color: white;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    width: 100%;
    margin: 0;
    top: 72px;
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  nav form button {
    border: 1px solid rgb(180, 180, 180);
    border-left: none;
  }
  nav form input {
    border: 1px solid rgb(180, 180, 180);
    border-right: none;
  }
  .searchbtn {
    display: block;
    margin-left: auto;
  }
}